* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto";
}

body {
    background-color: #181818;
    overflow-x: hidden;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

/* header */
header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btns {
    display: flex;
    align-items: center;
}

.header-btn1 {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;
}

/* Стили модального окна */
.header-btns {
    display: flex;
    align-items: center;
}

.header-btn1 {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;
}

/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.auth-tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.auth-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

.auth-tabs button.active {
    border-bottom: 2px solid #24B47E;
    color: #24B47E;
}

.tabcontent {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #24B47E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #24B47E;
}

hr {
    height: 1px;
    background-color: #ffffff;
}

.banner {
    padding-top: 115px;
}

.adv {
    padding-top: 96px;
}

/* dropdown */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    display: inline-block;
}

.dropdown a,
.tab_content p {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropbtn {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

/* main block */
h2 {
    font-size: 38px;
    color: #ffffff;
}

.main-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 96px;
}

.main-block p {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E0E0E0;
    line-height: 25px;
}

.btn_acordion {
    width: 205px;
    padding-bottom: 13px;
    padding-top: 5px;
}

.active,
.accordion:hover {
    background-color: #1e1e1e;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* slider */
.slider {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide_img {
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

/* tabs */
.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.tab-btn {
    color: #ffffff;
    font-size: 16px;
    padding: 7px 11px;
    border: 4px;
    text-align: center;
    background-color: transparent;
}

.tab-btn-active {
    pointer-events: none;
    background-color: #2A2A2A;
    border: 4px;
}

.tab-pane {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tab-pane:not(.tab-pane-show) {
    display: none;
}

.tab_content {
    padding-top: 191px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tabs_btns {
    padding-bottom: 30px;
}

.tab_img {
    width: 560px;
    height: 369px;
    overflow: hidden;
}

/* modal */
.modal {
    display: none;
    /* скрыт по умолчанию */
    /* темный фон при открытии модалки должен быть на всю страницу */
    position: fixed;
    z-index: 1;
    /* поверх всех элементов */
    left: 0;
    top: 0;
    width: 100vw;
    /* полная ширина */
    height: 100vh;
    /* полная высота */
    background-color: rgba(0, 0, 0, 0.4);
    /* цвет фона - прозрачный черный */
}

/* само модальное окно с контентом */
.modal-content {
    background-color: #fff;
    /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
    margin: 100px auto;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    /* разнесем текст и кнопоку по краям окна */
    display: flex;
    justify-content: space-between;
}

span {
    cursor: pointer;
}